<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mr-auto">

    </div>
  </div>
</div>