<div class="container">
  <div class="row">
    <div class="mr-auto">
      <h1>商品一覧</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="mx-auto">
      <table>
        <% @items.each do |item| %>
        <tr>
          <td style="display: flex; flex-wrap: wrap;">
            <div>画像</div>
            <div><%= link_to item.name, "/items/#{item.id}" %></div>
            <div><%= item.price %></div>
          </td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>